n8n-workflow-stock-notification.json
{
    "name": "Stock Notification Real-time",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "stock-notification",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-stock",
            "name": "Webhook - Terima Data Stok",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [240, 300],
            "webhookId": "stock-notification-webhook"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Data stok diterima dan sedang diproses\" } }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [240, 500]
        },
        {
            "parameters": {
                "jsCode": "// Extract data dari webhook body\nconst body = $input.item.json.body || $input.item.json;\n\n// Ambil nilai stok (coba beberapa kemungkinan field)\nconst stock = parseFloat(body.stok_bahan || body.stok || body.quantity || 0);\n\n// Return data yang sudah di-extract\nreturn {\n  json: {\n    nama_bahan: body.nama_bahan || body.nama_produk || body.name || 'Produk Tidak Dikenal',\n    stok_bahan: stock,\n    id_bahan: body.id_bahan || body.id_produk || 'unknown',\n    satuan: body.satuan || body.unit || '',\n    min_stok: parseFloat(body.min_stok || body.minStock || 5)\n  }\n};"
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [460, 300]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-stock",
                            "leftValue": "={{ $json.stok_bahan }}",
                            "rightValue": 5,
                            "operator": {
                                "type": "number",
                                "operation": "smaller"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-stock-low",
            "name": "Cek Stok < 5?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [680, 300]
        },
        {
            "parameters": {
                "jsCode": "// Ambil data dari node Extract Data\nconst data = $input.item.json;\nconst productName = data.nama_bahan;\nconst stock = data.stok_bahan;\nconst productId = data.id_bahan;\nconst satuan = data.satuan || '';\n\n// Format pesan WhatsApp\nconst message = `⚠️ Stok produk ${productName} tersisa ${stock}${satuan ? ' ' + satuan : ''}. Segera restock sebelum habis!`;\n\n// Return data untuk node berikutnya\nreturn {\n  json: {\n    productName: productName,\n    stock: stock,\n    productId: productId,\n    satuan: satuan,\n    message: message,\n    timestamp: new Date().toISOString()\n  }\n};"
            },
            "id": "format-message",
            "name": "Format Pesan WhatsApp",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [900, 200]
        },
        {
            "parameters": {
                "jsCode": "// Cek apakah sudah mengirim notifikasi untuk produk ini dalam 5 menit terakhir\n// Menggunakan memory untuk menyimpan timestamp terakhir pengiriman\nconst productId = $input.item.json.productId;\nconst currentTime = Date.now();\nconst fiveMinutes = 5 * 60 * 1000; // 5 menit dalam milliseconds\n\n// Ambil data dari memory (jika ada)\nconst memory = $getWorkflowStaticData('global');\nif (!memory.lastNotification) {\n  memory.lastNotification = {};\n}\n\nconst lastSent = memory.lastNotification[productId];\n\n// Jika belum pernah dikirim atau sudah lebih dari 5 menit\nif (!lastSent || (currentTime - lastSent) > fiveMinutes) {\n  // Update timestamp\n  memory.lastNotification[productId] = currentTime;\n  \n  // Lanjutkan proses dengan menambahkan flag\n  return {\n    json: {\n      ...$input.item.json,\n      shouldSend: true\n    }\n  };\n} else {\n  // Skip, sudah dikirim baru-baru ini\n  return {\n    json: {\n      ...$input.item.json,\n      shouldSend: false,\n      skipReason: 'Notifikasi sudah dikirim dalam 5 menit terakhir'\n    }\n  };\n}"
            },
            "id": "prevent-duplicate",
            "name": "Cegah Duplikasi Pesan",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1120, 200]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-should-send",
                            "leftValue": "={{ $json.shouldSend }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-skip",
            "name": "Filter - Skip jika Duplikat",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [1340, 200]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://{{ $env.WAHA_IP || 'localhost' }}:{{ $env.WAHA_PORT || '3000' }}/api/sendText",
                "authentication": "none",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"{{ $env.WAHA_SESSION || 'default' }}\",\n  \"chatId\": \"{{ $env.WAHA_CHAT_ID || '6281380630988@c.us' }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json",
                            "fullResponse": false
                        }
                    }
                }
            },
            "id": "send-whatsapp",
            "name": "Kirim WhatsApp via WAHA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1560, 200],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Ambil data dari node sebelumnya\nconst wahaResponse = $input.item.json;\nconst formatData = $('Format Pesan WhatsApp').item.json;\n\n// Cek apakah ada error\nconst hasError = wahaResponse.error || (wahaResponse.statusCode && wahaResponse.statusCode >= 400);\n\nif (hasError) {\n  return {\n    json: {\n      success: false,\n      message: 'Gagal mengirim notifikasi WhatsApp',\n      productName: formatData.productName,\n      stock: formatData.stock,\n      error: wahaResponse.error || wahaResponse,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    message: 'Notifikasi WhatsApp berhasil dikirim',\n    productName: formatData.productName,\n    stock: formatData.stock,\n    sentAt: new Date().toISOString(),\n    wahaResponse: wahaResponse\n  }\n};"
            },
            "id": "log-result",
            "name": "Log Hasil",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1780, 200]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-success",
                            "leftValue": "={{ $json.success }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-success",
            "name": "Cek Sukses?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [2000, 200]
        }
    ],
    "connections": {
        "Webhook - Terima Data Stok": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Cek Stok < 5?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cek Stok < 5?": {
            "main": [
                [
                    {
                        "node": "Format Pesan WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Format Pesan WhatsApp": {
            "main": [
                [
                    {
                        "node": "Cegah Duplikasi Pesan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cegah Duplikasi Pesan": {
            "main": [
                [
                    {
                        "node": "Filter - Skip jika Duplikat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter - Skip jika Duplikat": {
            "main": [
                [
                    {
                        "node": "Kirim WhatsApp via WAHA",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Kirim WhatsApp via WAHA": {
            "main": [
                [
                    {
                        "node": "Log Hasil",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Hasil": {
            "main": [
                [
                    {
                        "node": "Cek Sukses?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cek Sukses?": {
            "main": [[], []]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2024-01-01T00:00:00.000Z",
    "versionId": "1"
}
