n8n-workflow-chatbot-simple.json
{
    "name": "WhatsApp Chatbot - Simple Gemini",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-chatbot",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-whatsapp",
            "name": "Webhook - Terima Pesan WA",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [240, 400],
            "webhookId": "whatsapp-chatbot-webhook"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Pesan diterima\" } }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [240, 600]
        },
        {
            "parameters": {
                "jsCode": "// Extract data dari webhook WAHA\nconst rawBody = $input.item.json.body || $input.item.json;\nconst body = rawBody.payload || rawBody.data || rawBody;\n\n// Extract message text\nlet message = '';\nif (body.body) {\n  message = body.body;\n} else if (body.message?.text) {\n  message = body.message.text;\n} else if (body.message?.body) {\n  message = body.message.body;\n} else if (body.text) {\n  message = body.text;\n} else if (typeof body.message === 'string') {\n  message = body.message;\n}\n\n// Extract chatId\nlet from = '';\nif (body.from) {\n  from = body.from;\n} else if (body.chatId) {\n  from = body.chatId;\n} else if (body.message?.from) {\n  from = body.message.from;\n} else if (body.key?.remoteJid) {\n  from = body.key.remoteJid;\n}\n\n// Normalize chatId\nlet chatId = from;\nif (chatId) {\n  chatId = chatId.replace(/^\\+/, '');\n  if (!chatId.includes('@')) {\n    chatId = chatId + '@c.us';\n  }\n}\n\n// Extract messageId\nconst messageId = body.id || body.messageId || body.key?.id || '';\nconst timestamp = body.timestamp || body.message?.timestamp || Date.now();\n\n// Skip pesan dari bot sendiri\nconst fromMe = body.fromMe || body.payload?.fromMe || false;\nif (fromMe === true || fromMe === 'true' || fromMe === 1) {\n  console.log('[SKIP] Message from bot itself');\n  return null;\n}\n\n// Skip pesan error\nif (message && (message.includes('[object Object]') || message.includes('❌ [object Object]'))) {\n  console.log('[SKIP] Message contains [object Object]');\n  return null;\n}\n\nconsole.log('[EXTRACT] Message:', message);\nconsole.log('[EXTRACT] ChatId:', chatId);\n\nreturn {\n  json: {\n    message: (message || '').trim(),\n    chatId: chatId || '6283836339182@c.us',\n    messageId: messageId,\n    timestamp: timestamp,\n    uniqueKey: chatId + '_' + messageId + '_' + timestamp\n  }\n};"
            },
            "id": "extract-message",
            "name": "Extract Pesan",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [460, 400]
        },
        {
            "parameters": {
                "jsCode": "// Cegah duplikat\nconst inputData = $input.item.json;\nif (!inputData) return null;\n\nconst workflowStaticData = $getWorkflowStaticData('global');\nif (!workflowStaticData.processedMessages) {\n  workflowStaticData.processedMessages = {};\n}\n\nconst messageId = inputData.messageId || '';\nconst chatId = inputData.chatId || '';\nconst timestamp = inputData.timestamp || Date.now();\n\nconst uniqueKey = messageId && chatId ? `${chatId}_${messageId}` : `${chatId}_${timestamp}`;\nconst now = Date.now();\n\nif (workflowStaticData.processedMessages[uniqueKey]) {\n  const processedTime = workflowStaticData.processedMessages[uniqueKey];\n  if (now - processedTime < 30000) {\n    console.log(`[DUPLICATE] Skipping: ${uniqueKey}`);\n    return null;\n  }\n  delete workflowStaticData.processedMessages[uniqueKey];\n}\n\nworkflowStaticData.processedMessages[uniqueKey] = now;\n\n// Cleanup old entries\nconst tenMinutesAgo = now - 600000;\nfor (const key in workflowStaticData.processedMessages) {\n  if (workflowStaticData.processedMessages[key] < tenMinutesAgo) {\n    delete workflowStaticData.processedMessages[key];\n  }\n}\n\nreturn { json: { ...inputData, uniqueKey } };"
            },
            "id": "deduplicate-message",
            "name": "Cegah Duplikat",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [680, 400]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-not-null",
                            "leftValue": "={{ $json }}",
                            "rightValue": null,
                            "operator": {
                                "type": "object",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-not-duplicate",
            "name": "Skip jika Duplikat?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [900, 400]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "check-empty",
                            "leftValue": "={{ $json.message }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-message",
            "name": "Cek Pesan Kosong?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [1120, 400]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
                "authentication": "none",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Anda adalah asisten AI yang ramah untuk UMKM. Anda membantu pemilik bisnis melalui WhatsApp dengan menjawab pertanyaan, memberikan saran, dan membantu mengelola bisnis.\\n\\nJawablah dengan natural, ramah, dan dalam bahasa Indonesia seperti sedang ngobrol biasa. Gunakan emoji jika perlu untuk membuat lebih ramah.\\n\\nPesan dari user: {{ $json.message }}\\n\\nJawablah dengan natural dan ramah.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 500\n  }\n}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "call-gemini-ai",
            "name": "AI Chat Response",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1340, 400],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Extract response dari Gemini AI\nconst geminiResponse = $input.item.json || {};\nconst originalData = $('Extract Pesan').item.json || {};\nconst userMessage = originalData.message || '';\n\nlet aiMessage = null;\n\n// Extract dari struktur Gemini API\nif (geminiResponse.candidates && geminiResponse.candidates[0]) {\n  const candidate = geminiResponse.candidates[0];\n  if (candidate.content && candidate.content.parts && candidate.content.parts[0]) {\n    aiMessage = candidate.content.parts[0].text;\n  }\n}\n\n// Fallback\nif (!aiMessage) {\n  if (geminiResponse.text) {\n    aiMessage = geminiResponse.text;\n  } else if (geminiResponse.message) {\n    aiMessage = geminiResponse.message;\n  } else if (typeof geminiResponse === 'string') {\n    aiMessage = geminiResponse;\n  }\n}\n\n// Fallback response jika Gemini gagal\nif (!aiMessage || aiMessage.trim() === '') {\n  const lowerMessage = userMessage.toLowerCase().trim();\n  if (lowerMessage.includes('hai') || lowerMessage.includes('halo') || lowerMessage.includes('hello') || lowerMessage === 'hi') {\n    aiMessage = 'Halo! 👋 Ada yang bisa saya bantu hari ini?';\n  } else if (lowerMessage.includes('terima kasih') || lowerMessage.includes('makasih')) {\n    aiMessage = 'Sama-sama! 😊';\n  } else {\n    aiMessage = 'Terima kasih atas pesan Anda! Ada yang bisa saya bantu?';\n  }\n} else {\n  aiMessage = aiMessage.trim();\n  if (aiMessage === '') {\n    aiMessage = 'Terima kasih atas pesan Anda! Ada yang bisa saya bantu?';\n  }\n}\n\n// PASTIKAN selalu string\naiMessage = String(aiMessage).trim();\n\nreturn {\n  json: {\n    ...originalData,\n    responseMessage: aiMessage,\n    message: aiMessage,\n    chatId: originalData.chatId || '6283836339182@c.us'\n  }\n};"
            },
            "id": "format-ai-response",
            "name": "Format AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1560, 400]
        },
        {
            "parameters": {
                "jsCode": "// Final validation - PASTIKAN responseMessage adalah STRING\nconst inputData = $input.item.json || {};\n\nfunction forceString(value) {\n  if (value === null || value === undefined) return '';\n  if (typeof value === 'string') return value;\n  if (typeof value === 'number' || typeof value === 'boolean') return String(value);\n  if (typeof value === 'object') {\n    if (value.message && typeof value.message === 'string') return value.message;\n    if (value.error && typeof value.error === 'string') return '❌ ' + value.error;\n    if (value.text && typeof value.text === 'string') return value.text;\n    if (value.responseMessage && typeof value.responseMessage === 'string') return value.responseMessage;\n    return 'Terjadi kesalahan dalam memproses respons.';\n  }\n  return String(value);\n}\n\nlet responseMessage = forceString(inputData.responseMessage || inputData.message || '');\nif (!responseMessage || responseMessage.trim() === '') {\n  responseMessage = 'Terima kasih atas pesan Anda! Ada yang bisa saya bantu?';\n}\nif (responseMessage.includes('[object Object]')) {\n  responseMessage = 'Terima kasih atas pesan Anda! Ada yang bisa saya bantu?';\n}\n\nlet chatId = String(inputData.chatId || '6283836339182@c.us').trim();\nif (!chatId) chatId = '6283836339182@c.us';\n\nresponseMessage = String(responseMessage).trim();\n\nreturn {\n  json: {\n    session: 'default',\n    chatId: chatId,\n    text: responseMessage,\n    responseMessage: responseMessage,\n    message: responseMessage\n  }\n};"
            },
            "id": "final-validate-response",
            "name": "Final Validate Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1780, 400]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://host.docker.internal:3000/api/sendText",
                "authentication": "none",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"{{ $json.session || 'default' }}\",\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"text\": \"{{ $json.text || $json.responseMessage || $json.message }}\"\n}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json",
                            "fullResponse": false
                        }
                    }
                }
            },
            "id": "send-whatsapp-response",
            "name": "Send WhatsApp Response",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [2000, 400],
            "continueOnFail": true
        }
    ],
    "connections": {
        "Webhook - Terima Pesan WA": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Extract Pesan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Pesan": {
            "main": [
                [
                    {
                        "node": "Cegah Duplikat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cegah Duplikat": {
            "main": [
                [
                    {
                        "node": "Skip jika Duplikat?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip jika Duplikat?": {
            "main": [
                [
                    {
                        "node": "Cek Pesan Kosong?",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Cek Pesan Kosong?": {
            "main": [
                [
                    {
                        "node": "AI Chat Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "AI Chat Response": {
            "main": [
                [
                    {
                        "node": "Format AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format AI Response": {
            "main": [
                [
                    {
                        "node": "Final Validate Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Final Validate Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2025-11-26T12:00:00.000Z",
    "versionId": "1"
}

